<footer>
  <div id="f_links">
      <ul class="f_wrap">
          <li class="f_w_link">
              <a href="/info/about/">Life with Magazineについて</a>
          </li>
          <li class="f_w_link">
              <a href="/info/join-us/">ライター募集</a>
          </li>
          <li class="f_w_link">
              <a href="/info/writer/">ライター一覧</a>
          </li>
      </ul>
      <ul class="f_wrap">
          <li class="f_w_link">
              <a href="/info/admin/">運営者</a>
          </li>
          <li class="f_w_link">
              <a href="/info/privacy-policy/">個人情報保護方針</a>
          </li>
          <li class="f_w_link">
              <a href="/info/terms-of-service/">利用規約</a>
          </li>
      </ul>
  </div>
  <p id="f_copy">Copyright &copy; Life with Magazine. All Rights Reserved.</p>
</footer>